/* Customização do input radio */
.radioLbl {
  display: block;
  position: relative;
  font-size: 1rem;
  padding-left: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioLbl + .radioLbl {
  margin-top: 0.2rem;
}

/* Esconde input padrão do navegador */
.radioLbl input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Customização do checkmark criado */
.radioLbl .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  height: 1rem;
  width: 1rem;
  background-color: var(--border-color);
  border-radius: 50%;
  transition: all 0.2s;
}

.radioLbl:hover input ~ .checkmark {
  filter: brightness(0.9);
}

.radioLbl:focus-within input ~ .checkmark {
  box-shadow: 0 0 0 2px var(--focus-border-color);
}

.radioLbl:focus-within input:checked ~ .checkmark {
  background-color: var(--focus-shadow-color);
}

.radioLbl input:checked ~ .checkmark {
  background-color: var(--focus-border-color);
}

.radioLbl .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.radioLbl input:checked ~ .checkmark:after {
  display: block;
}

.radioLbl .checkmark:after {
  top: 0.25rem;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}
